.contTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.titleText {
    font-weight: bold;
    font-size: 65px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    user-select: none;
    text-align: center;
    text-shadow: 0px 5px 3px rgba(255, 255, 255, 0.26);
}

.titleP {
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    user-select: none;
    text-shadow: 0px 5px 3px rgba(255, 255, 255, 0.26);
}

.contPIcon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon {
    margin-left: 10px;
    color: white;
}

.contIcons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.iconSocialMedia {
    width: 50px;
    height: 50px;
    color: white;
}

@media only screen and (min-width: 992px) {
    .titleText {
        font-size: 59px;
    }
    .iconSocialMedia {
        width: 30px;
        height: 30px;
    }
    .contPIcon {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}
